* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: 'Poppins',sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}

.todo-app{

     width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo-app img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius:30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
   
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
button:hover{
    background: #79271e;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 10px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('./asset/images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('./asset/images/checked.png');
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius:50% ;
}
ul li span:hover{
    background: #edeef0;
}

@media (max-width: 768px) {
    .todo-app {
      padding: 20px 10px; /* Adjust padding for smaller screens */
    }
    
    .row {
      padding-left: 10px; /* Adjust padding for smaller screens */
    }
  
    ul li {
      font-size: 16px; /* Reduce font size for smaller screens */
      padding: 12px 8px 8px 40px; /* Adjust padding for smaller screens */
    }

  }
  
  /* Media Query for screens with a maximum width of 480px (typical for mobile phones)*/
  @media (max-width: 480px) {
    .todo-app {
      padding: 20px 10px; /* Further adjust padding for smaller screens */
    }
  
    .row {
      padding-left: 10px; /* Further adjust padding for smaller screens */
    }
  
    ul li {
      font-size: 14px; /* Reduce font size for even smaller screens */
      padding: 10px 6px 6px 45px; /* Further adjust padding for smaller screens */
    }
  }
  
  /* Media Query for screens with a maximum width of 320px (typical for smaller mobile screens) */
  @media (max-width: 320px) {
    .todo-app {
      padding: 20px 5px; /* Adjust padding for smaller mobile screens */
    }
  
    .row {
      padding-left: 5px; /* Further adjust padding for smaller mobile screens */
    }
  
    ul li {
      font-size: 12px; /* Reduce font size for smaller mobile screens */
      padding: 6px 4px 4px 45px; /* Further adjust padding for smaller mobile screens */
    }
  } 